# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.env
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Test binary, built with `go test -c`
*.test
*.idea
.idea/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
../.DS_Store
.DS_Store
./.DS_Store
tmp
./tmp
tmp/*
./tmp/*
*.log
.aws
../.aws
./.aws
vendor